body{
	background-color:#000;
	margin:0;
}
.butstart{
	position:absolute;
	height: 30px;
	width: 80px;
	bottom:315px;
	left:250px;
	text-align: center;
	
	border-radius:10px;
	background-color:blue;
}
.butstart > *{
	margin-top: 5px;
	color:#ffffff;

}
.butstart > *:hover{

	color:#000;
}
#back{
	cursor: crosshair;

	background-color: #220033;
	height: 600px;
	width: 600px;
	left:400px;
	top:25px;
	position: relative;
}
#cel{
	position:absolute;
	left:2px;
	border-radius: 10px;
	width:40px;
	height: 30px;
	background-color:blue;
	border-color: yellow;
  animation-name: example1;
  animation-duration: 7s;
}
	@keyframes example {
  0%   {left: 0px;
  		top:0px;background-color: blue;}

  25%  {left: 150px;top:200px;
  		background-color: yellow;}

  50%  {left: 300px;top:340px;}

  100% {left: 400px;top:370px;background-color: red;}
}

	@keyframes example1 {
  0%   {left: 200px;
  		top:400px;background-color: blue;}

  25%  {left: 100px;top:100px;
  		background-color: yellow;width:20px;height:25px;}

  50%  {left: 250px;top:340px;}

  100% {left: 400px;top:370px;background-color: red;}
}
