body{
	background-color:0;
	margin:0;
}
#back{
	background-color: #009933;
	height: 600px;
	width: 600px;
	left:400px;
	position: relative;
}
#cel{
	position:absolute;
	left:2px;
	border-radius: 10px;
	width:40px;
	height: 30px;
	background-color:blue;
	border-color: yellow;
  animation-name: example1;
  animation-duration: 7s;
}
	@keyframes example {
  0%   {left: 0px;
  		top:0px;background-color: blue;}

  25%  {left: 150px;top:200px;
  		background-color: yellow;}

  50%  {left: 300px;top:340px;}

  100% {left: 400px;top:370px;background-color: red;}
}

	@keyframes example1 {
  0%   {left: 200px;
  		top:400px;background-color: blue;}

  25%  {left: 100px;top:100px;
  		background-color: yellow;width:20px;height:25px;}

  50%  {left: 250px;top:340px;}

  100% {left: 400px;top:370px;background-color: red;}
}
