body{
	background-color:#000;
	margin:0;
}
h1{
	font-size:10px;
	color:#b30000; 
}

.butstart{
	position:absolute;
	height: 30px;
	width: 80px;
	bottom:315px;
	left:250px;
	text-align: center;
	background-color:#b300b3;
	border-radius:7px;
	border-color: #4d004d;
	border-size:3px;
	border-style: solid;
}
.butstart > i{
	margin-top: 5px;
	color:#ffffff;

}
.butstart>i:hover{
		color:#ff0000;
		transition: color 1s;
}
.butstart:hover{

	width:100px;
	background-color: #cc00cc;
	transition: color 1s, width 1s ;
}


#back{
	cursor: crosshair;
	background-color: #220033;
	height: 600px;
	width: 600px;
	left:400px;
	top:15px;
	position: relative;
	border-radius: 9px;
	border-color:#660000;
	border-style:solid;
	border-size:3px;
}


#cel{
	display: none;
	position:absolute;
	left:2px;
	border-radius: 10px;
	width:40px;
	height: 30px;
	/*background-color:red;*/
	border-color: yellow;
	border-size:3px;
	border-style:solid;
  animation-name: example1;
  animation-duration: 7s;
}
	@keyframes example {
  0%   {left: 0px;
  		top:0px;background-color: blue;}

  25%  {left: 150px;top:200px;
  		background-color: yellow;}

  50%  {left: 300px;top:340px;background-color: red;}

  100% {left: 400px;top:370px;background-color: red;}
}

	@keyframes example1 {
  0%   {left: 200px;
  		top:400px;background-color: blue;}

  25%  {left: 100px;top:100px;
  		background-color: yellow;width:20px;height:25px;}

  50%  {left: 250px;top:340px;background-color: red;}

  100% {left: 400px;top:370px;background-color: red;}
}

	@keyframes example2 {
  0%   {left: 156px;
  		top:40px;background-color: blue;}

  25%  {left: 100px;top:100px;
  		background-color: yellow;width:20px;height:25px;}

  50%  {left: 250px;top:250px;background-color: red;}

  100% {left: 400px;top:370px;background-color: red;}
}

	@keyframes example3 {
  0%   {left: 500px;
  		top:500px;background-color: blue;}

  25%  {left: 425px;top:300px;
  		background-color: yellow;width:20px;height:25px;}

  50%  {left: 250px;top:440px;background-color: red;}

  100% {left: 400px;top:570px;background-color: red;}
}
#prbarbor{
	display:none;
	border: 3px solid grey;
	border-radius: 5px;
	position: absolute;
	width:150px;
	left:223px;
	top:529px;
	height: 17px;
	
	
	
}
#prbar{
	display:none;
	border-radius: 5px;
	position: absolute;
	width:150px;
	left:225px;
	top:531px;
	background-color: blue;
	
	
	
}
@keyframes prog {
  0%   {background-color: blue;width:0px;}

  25%  {background-color: yellow;}

  50%  {background-color: red;}
  100% {background-color: red;width:150px;}
}